/* ================= CARD ================= */
.card {
    flex: 0 0 240px;
    background: #2b2b2b;
    padding: 12px;
    border-radius: 8px;
    min-height: 300px;
    max-height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: center;

    position: relative;
    overflow: visible;
    transition: transform 0.8s ease, z-index 0.8s ease;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 6px;
    transition: transform 0.8s ease, z-index 0.8s ease;
}

.card h3, .card .date {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    flex-shrink: 0;
}

.card h3 {
    font-size: 1rem;
    min-height: 2.6em;
    line-height: 1.3;
    margin-bottom: 4px;
}

.card .date {
    font-size: 0.75rem;
    min-height: 1.2em;
    opacity: 0.8;
    margin-bottom: 6px;
}

.card p {
    font-size: 0.85rem;
    line-height: 1.3;
    margin-top: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 15;
    line-clamp: 15;
    overflow: hidden;
}

.cardFooter {
    margin-top: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.card:hover {
    transform: scale(1.05);
}
