.loader {
    width: 50px;
    height: 50px;
    border: 6px solid #333;
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 20px auto;
}

.hidden {
    display: none;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.loaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.4); /* opcional sombra */
    z-index: 9999;
}

.loaderWrapper.hidden {
    display: none;
}

body{
    background: linear-gradient(
        270deg,
        #000428,
        #002546,
        #000428
    );
    background-size: 600% 600%;
    animation: gradientMove 20s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


