/* MODAL */
#modalNasa{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

#modalNasa.show{
    opacity: 1;
    pointer-events: auto;
}

.modalContent{
    background: #1e1e1e;
    max-width: 600px;
    width: 90%;
    max-height: 90vh;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalContent img{
    width: 100%;
    border-radius: 6px;
}

.modalClose{
    align-self: flex-end;
    background: transparent;
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.btnSee{
    background: #444;
    color: #fff;
    border: none;
    padding: 6px 14px;
    cursor: pointer;
}

.btnSee:hover{
    background: #666;
}
