*{
    padding: 0%;
    margin: 0%;
}

html,body{
    height: 100vh;
    overflow: hidden;
    font-family: "Times New Roman", Times, serif;
}

body{
    display: grid;
    grid-template-rows: auto 3fr auto;
    grid-template-columns: 10% 3fr 10%;
    background-color: #000000;
    color: #f0f0f0;
}

header{
    grid-row: 1/2;
    grid-column: 2/3;
}

main{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-bottom: 70px; 
}

nav{
    grid-row: 1/3;
    grid-column: 1/2;
}

aside{
    grid-row: 1/3;
    grid-column: 3/4;
}

footer{
    grid-row: 3/4;
    grid-column: 1/4;
}

header h1 {
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 10px;
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
}

#inputs {
    margin-top: 30px;
    width: 100%;

    display: flex;
    flex-direction: column;  /* elementos uno arriba del otro */
    align-items: center;     /* centrado horizontal */
    gap: 12px;               /* separación entre elementos */
}

#inputs h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

#inputs input[type="date"] {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
}

#inputs button, 
#inputs a {
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

#inputs button:hover,
#inputs a:hover {
    background-color: #666;
}

#dataNasa {
    text-align: center;
    max-width: 700px;
    line-height: 1.4;
    margin-top: 20px;
}

.imgNasa {
    width: 400px !important;
    height: 300px !important;
    object-fit: cover;
    border-radius: 10px;
}

#dataNasaImg img {
    width: 400px;      /* ancho fijo */
    height: 300px;     /* alto fijo */
    object-fit: cover; /* mantiene proporción y recorta si es necesario */
    border-radius: 10px;
    margin-bottom: 15px;
}

.hiddenData {
    opacity: 0;
    pointer-events: none;
}

